.ipynb_checkpoints
exm.egg-info/
exm/align/__pycache__
Simple*
*.pyc
ruihan/*
*.log
ruihan_january/alignment_full/*
ruihan_january/alignment_result/*
ruihan_january/for_alignment/*
ruihan_january/.ipynb_checkpoints/*
ruihan_november/*
ruihan_september/*
ruihan_october/*
init/*