.ipynb_checkpoints
exm.egg-info/
exm/align/__pycache__
Simple*
*.pyc
ruihan/*
*.log
ruihan_january/alignment_full/*
ruihan_january/alignment_result/*
ruihan_january/for_alignment/*
ruihan_january/.ipynb_checkpoints/*
ruihan_november/*
ruihan_september/*
ruihan_october/*
init/*alexis/.ipynb_checkpoints/step4_across_codes_inspection-checkpoint.ipynb
examples/1 Overview.ipynb
examples/3 Common Errors.ipynb
ruihan/.ipynb_checkpoints/step4_across_codes_inspection-checkpoint.ipynb
ruihan/step4_across_codes_inspection.ipynb
ruihan_january/TransformParameters.2.txt
ruihan_november/color_output/temp.h5
ruihan_october/result.html
ruihan_september/step3_inspection.ipynb
ruihan_september/step4_across_codes_inspection.ipynb
